body
{
    background-color: #0094d4;
}

#site
{
    width: 850px;
    margin: auto;
    border-radius: 25px;
    background-color: #fff;
}

h1, main
{
    text-align: center;
}

h1
{
    padding-top: 25px;
}

footer
{
    margin-left: 25px;
    padding-bottom: 25px;
}

button
{
    cursor: pointer;
}